.albumArtLarge {
    object-fit: contain;
    height: 89vh;
    width: 100%;
    position: relative;
}

.albumArtSmall {
    height: 11px;
    position: relative;
}

.albumArtFill {
    max-height: 100%;
    max-width: 100%;
    position: relative;
}

.modal {
    display: block;
    margin-left: auto;
    margin-right: auto;
}