.albumArtLarge {
    height: 100%;
    position: relative;
}

.albumArtSmall {
    height: 11px;
    position: relative;
}

.modal {
    display: block;
    margin-left: auto;
    margin-right: auto;
}